.ttip {
  background-color: rgb(177, 52, 135);
  width: 100px;
  height: 90px;
  padding-left: 15px;
  padding-top: 15px;
  border-top-right-radius: 25%;
  border-top-left-radius: 25%;
  border-bottom-right-radius: 25%;
  border-bottom-left-radius: 25%;
  font-size: large;
  letter-spacing: 2px;
  color: rgb(243, 243, 243);
  border-color: rgb(245, 245, 245);
  margin-left: 45vw;
  margin-top: 11%;
}
p {
  text-transform: uppercase;
  color: tomato;
}
input {
  text-align: center;
  margin-left: 40%;
  height: 50px;
  font-weight: bolder;
  letter-spacing: 3px;
  width: 200px;
  background-color: white;
  border: 2px solid salmon;
  border-top-left-radius: 20%;
  border-bottom-left-radius: 20%;
  border-top-right-radius: 20%;
  border-bottom-right-radius: 20%;
  color: black;
  font-size: 20px;
  text-transform: capitalize;
}

.top {
  position: absolute;
  top: 35%;
  color: white;
}

.bottom {
  position: absolute;
  top: 59%;
  color: white;
}
.left {
  position: absolute;
  top: 45%;
  left: 37%;
  color: white;
}
.right {
  position: absolute;
  top: 45%;
  left: 55%;
  color: white;
}
