button {
  background-color: rgb(177, 52, 135);
  min-width: 190px;
  min-height: 90px;
  border-top-right-radius: 25%;
  border-top-left-radius: 25%;
  border-bottom-right-radius: 25%;
  border-bottom-left-radius: 25%;
  font-size: large;
  letter-spacing: 2px;
  color: rgb(243, 243, 243);
  border-color: rgb(245, 245, 245);
  margin-left: 45vw;
  margin-top: 40vh;
}
